<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Negocio.Properties.Settings.BancodedadosConnectionString"
            connectionString="Data Source=C:\Users\Wallace\Desktop\Projeto\Visao\Bancodedados.sdf;Password=123"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="Negocio.Properties.Settings.BancoCompleto" connectionString="Data Source=|DataDirectory|\Bancodedados.sdf;Password=123;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>